# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
*.egg-info
dist/
build/

# Development
.vscode
.env
.env.local
venv/
.venv/

# Notebooks (not needed in production)
notebooks/

# Data and results
data/
results/

# Others
.DS_Store
README.md
LICENSE
docker-compose.yml